/* Style overrides for "fornix1" theme */


body, html body, * body {
    color: #000;
    background: #fff;
}

#page_wrapper {
    background: inherit;
}

#header {
    background: inherit;
}

#header_logo {
    /*display: none;*/
    /*visibility: hidden;*/
    /*opacity: 0;*/
}


/* <a> links */
/*a,
a.link,
a.nolink {
    color: #004C83;
}*/

#user_bar a {
    color: #59C1E0;
}

#advanced-search-topnav a {
    color: #59C1E0 !important;
}

/* user bar */
#user_bar,
#xnat-login #user_bar,
#user_bar.no_menu,
#xnat-login #user_bar.no_menu,
body#page_body #xnat-login #user_bar,
body#page_body.xnat #xnat-login #user_bar,
body#page_body.xnat #xnat-login #user_bar.no_menu,
body#page_body.xmodal #xnat-login #user_bar,
body#page_body.xmodal-v1 #xnat-login #user_bar {
    background: #261533 !important;
    color: #fff;
    background-color: rgb(38, 21, 51) !important;    
    /*border-bottom: 1px solid #aaa;*/
}


#main_nav {
    background-color: #261533;
    background-image: linear-gradient(#542E6C, #3c214f, #261533);
    border-bottom: 1px solid #261533;
}


#main_nav ul.nav li li.active,
#main_nav ul.nav li li.active > a,
#main_nav ul.nav li li.active > a:hover {
    background-color: #f0e3f7;
    /*background: #e5f2ff;*/
    /*z-index: 20;*/
}

#main_nav ul.nav > li > a:hover,
#main_nav ul.nav > li.active > a {
    color: #fff;
    background-color: #261533 !important;
}


#main_nav ul.nav li li a:hover {
    background-color: #f0e3f7;
}

#main_nav ul.nav table.data-table tr:hover,
#main_nav ul.nav table.data-table .item:hover {
    background: #f0e3f7 !important;
}

#main_nav ul.nav > li {
    border-right: 1px solid #261533;
}

#main_nav ul.nav > li:first-of-type {
    border-left: 1px solid #261533;
}

/* tab styles */
.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a em,
.yui-skin-sam .yui-navset .yui-nav .selected a:focus,
.yui-skin-sam .yui-navset .yui-nav .selected a:hover {
    /*background: #957500;*/
    background: #542e6c;
    border-color: #542e6c;
}

.yui-skin-sam .yui-navset .yui-nav,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav,
#search_tabs.yui-navset.yui-navset-top > .wrangler {
    border-bottom: 5px solid #542e6c !important;
}

/* actions menu */
#actionsMenu > .bd > .first-of-type a {
    background: #542E6C;
}

/* NEW tabs */
.xnat-tab-content.side.pull-right {
    border-left: 1px solid #aaa;
}
.xnat-nav-tabs li.tab {
    border: 1px solid #aaa;
}
.xnat-nav-tabs.side li.tab > a {
    border-right: 1px solid #aaa;
}
.xnat-nav-tabs.side li.tab.active > a {
    border-left-color: #542E6C;
}

/* panels (admin page) */
body.xnat .panel-default {
    border: 1px solid #aaa;
}

body.xnat .panel-default .panel-heading {
    background: #542E6C;
}

/* actions menu */
#actionsMenu li a:hover,
#actionsMenu li.yuimenuitem-hassubmenu > a:hover {
    background-color: #f0e3f7;
}

/* other widgets */
body #accordion h3 {
    background: #b3a7b8 !important;
    font-family: inherit !important;
}
body #accordion h3.active,
div.download-column h3 {
    background: #542E6C !important;
}
body #accordion .content {
    background: #fff;
}
body #accordion .content td.highlighted {
    background: none;
    border: none;
}

.xnat-table.selectable tr:hover,
.inline-actions-menu li:hover {
    background-color: #f0e3f7 !important;
}

.inline-actions {
    background-color: #f0e3f7 !important;
}

.inline-actions i:hover {
    background-color: #f0e3f7 !important;
    opacity: 1;
}

/* other ui elements */
div.containerTitle.withColor {
   background: #542E6C !important;
}

.xnat-table {
    color: #333;
}

/*.xnat-table tr.highlight:hover,
.xnat-table.highlight tr:hover,
.xnat-table.striped.highlight tr:hover {
    background: #ffd;
}*/


.btn1, .btn.primary, .btn.submit, .btn.save, body input.btn1, body .btn1[type="button"], body [type="submit"] {
    color: #fff;
    background: #542E6C linear-gradient( #7A419E, #542E6C );
    border: 1px solid #3c214f;
    box-shadow: 0 1px 1px #a0a0a0;
}

.btn1:hover, .btn.primary:hover, .btn.submit:hover, .btn.save:hover, body input.btn1:hover, body .btn1[type="button"]:hover, body [type="submit"]:hover {
    background: #542E6C;
    box-shadow: none;
}