#parse($turbineUtils.getTemplateName("_assessments","xnat:imageSessionData",$project))
					
<script type="text/javascript">
<!--

function enableBtns() {
	var orival = document.getElementById('layoutSelector').options[document.getElementById('layoutSelector').selectedIndex].text; 
	if (orival=="Both") {
		document.getElementById('toggleBtn').disabled="disabled";
		document.getElementById('showBothBtn').disabled="disabled";
		setZoomBtnDisplay('disabled');
		setTransverseVisibility('PET','');
		setTransverseVisibility('MPRAGE','');
		setSagittalVisibility('PET','');
		setSagittalVisibility('MPRAGE','');
	}else {
		document.getElementById('toggleBtn').disabled="";
		document.getElementById('showBothBtn').disabled="";
		document.getElementById('toggleBtn').value = "PET/MPRAGE";
		if (orival=="Transverse") {
			setTransverseVisibility('PET','');
			setTransverseVisibility('MPRAGE','');
			setSagittalVisibility('PET','none');
			setSagittalVisibility('MPRAGE','none');
			setZoomBtnDisplay('disabled');
		}else {
			setTransverseVisibility('PET','none');
			setTransverseVisibility('MPRAGE','none');
			setSagittalVisibility('PET','');
			setSagittalVisibility('MPRAGE','');
			setZoomBtnDisplay('');
		}
	setOverlayBtn();
	}
}

function setZoomBtnDisplay(display) {
   document.getElementById('zoomPlusBtn').disabled=display;
   document.getElementById('zoomMinusBtn').disabled=display;
}

function getImageBeingDisplayed() {
  var ret ="";
  var isPETBeingDisplayed = (document.getElementById('S_PET').style.display=="display")|| (document.getElementById('S_PET').style.display=='');
  if (isPETBeingDisplayed ) {
    ret ="PET"  ; 
  }else {
    ret = "MPRAGE";
  }
  return ret;
}

function zoomUp() {
   var viewMode = getImageBeingDisplayed(); //MPRAGE or PET
   var oldheight;
   if (viewMode=="MPRAGE") {
     oldheight = document.getElementById('S_MPRAGE_IMG').height;
   }else {
     oldheight = document.getElementById('S_PET_IMG').height;
   }		
   document.getElementById('S_PET_IMG').height=oldheight+10;
   document.getElementById('S_MPRAGE_IMG').height=oldheight+10;

}

function zoomDown() {
   var viewMode = getImageBeingDisplayed(); //MPRAGE or PET
   var oldheight;
   if (viewMode=="MPRAGE") {
     oldheight = document.getElementById('S_MPRAGE_IMG').height;
   }else {
     oldheight = document.getElementById('S_PET_IMG').height;
   }		
   document.getElementById('S_PET_IMG').height=oldheight-10;
   document.getElementById('S_MPRAGE_IMG').height=oldheight-10;
}


function prepareToToggle() {
	var orival = document.getElementById('layoutSelector').options[document.getElementById('layoutSelector').selectedIndex].text; 
	if (orival=="Both") {
		setTransverseVisibility('PET','');
		setTransverseVisibility('MPRAGE','');
		setSagittalVisibility('PET','');
		setSagittalVisibility('MPRAGE','');
	}else if (orival=="Transverse") {
		setSagittalVisibility('PET',"none");
		setSagittalVisibility('MPRAGE',"none");
		setTransverseVisibility('PET','');
		setTransverseVisibility('MPRAGE','');
	}else {
		setSagittalVisibility('PET','');
		setSagittalVisibility('MPRAGE','');
		setTransverseVisibility('PET',"none");
		setTransverseVisibility('MPRAGE',"none");
	}
	setOverlayBtn();
}

function setOverlayBtn() {
       var currentshow = document.getElementById('showBothBtn').value;
       if (currentshow=="Show Overlay") {
	document.getElementById('showBothBtn').value = "Show Both";
	document.getElementById('toggleBtn').disabled='';
	var val = document.getElementById('toggleBtn').value;
 	toggleImages(val);
       }else {
	document.getElementById('showBothBtn').value = "Show Overlay";
	document.getElementById('toggleBtn').disabled='disabled';
       }
}

function setSagittalVisibility(type,display) {
	document.getElementById('S_'+type).style.display=display;
}

function setTransverseVisibility(type,display) {
	document.getElementById('T_'+type).style.display=display;
}


function toggleImages(pastval) {
	var val = "MPRAGE";
	if (document.getElementById('toggleBtn').value=="MPRAGE") {
		val = "PET";
	}
	if (pastval != null) {
	   val = pastval;	
	}
	document.getElementById('toggleBtn').value = val;
	var orival = document.getElementById('layoutSelector').options[document.getElementById('layoutSelector').selectedIndex].text; 
	if (orival=="Transverse") {
	       setSagittalVisibility('PET','none');
	       setSagittalVisibility('MPRAGE','none');
	       if (val=="MPRAGE") {
		setTransverseVisibility('PET','');
		setTransverseVisibility('MPRAGE','none');
	       }else {
		setTransverseVisibility('PET','none');
		setTransverseVisibility('MPRAGE','');
	       }
	}else if (orival=="Saggital") {
		setTransverseVisibility('PET',"none");
		setTransverseVisibility('MPRAGE',"none");
		if (val=="MPRAGE") {
			setSagittalVisibility('PET','');
			setSagittalVisibility('MPRAGE','none');
		}else {
			setSagittalVisibility('PET','none');
			setSagittalVisibility('MPRAGE','');
		}
	}
}

-->
</script>


<TABLE width="100%">
<TR>
	<TD align=left colspan=2 valign=top><BR><BR></TD>
</TR>
  <tr >
    <td colspan=2>
  	  <table>
															        <tr>
  					       <td  colspan=2>
	  					         <BR>
					         </td>
        				</tr>
        <tr>
  					       <td  colspan=2 border=0 align=left NOWRAP>
  					       #set($timecourseList = $om.getAssessors("cnda:petTimeCourseData"))
  					       #if($timecourseList.size()>0)
  					       #set ($timecourse = $timecourseList.get(0))
#set($REST_PATH="/REST/experiments/$om.getId()/assessors/$timecourse.getId()")
  					         <b>Binding Potentials:</b>
  					        <br>
  					        <BR>
	  					        <table BORDER=1 STYLE="	border-collapse: collapse;">
		  					          <tr>
		  					             <td> &nbsp; </td> <td align="center" colspan=3> <b> 30-60 Minutes </b> </td>   
		  					          </tr> 
		  					          <tr>
		  					             <td><b>Region<b></td><td><b>Slope<b></td><td><b>Binding Pot.<b></td><td><b>Correl.<b></td>
		  					          </tr>
		  					          #foreach ($region in $sorted_durations.iterator())
  					          		  #set ($d30_60Bp = $d30_60.get($region))
		  					              <tr>
		  					                 <td> $!region </td> <td>$!d30_60Bp.getSlopeText(3)</td><td>$!d30_60Bp.getBpText(3)</td><td>$!d30_60Bp.getCorrelText()</td>
		  					              </tr>
		  					          #end
	  					        </table>
			  					       #else
  					         Binding Potential (none)
  					       #end
					         </td>
        </tr>				
						  	</table>
						  	  </td>
  </tr>				
  				
  				<!-- begin section -->
  				#set ($sectionCounter = 200)
  					       #set($reconList = $om.getReconstructions_reconstructedimage())
  					       #if($reconList.size()>0)
  				<tr>
  					 <td  colspan=2>
	  					  <BR>
					   </td>
  				</tr>				
  				<tr >
  					 <td  colspan=2><A name="LINK${sectionCounter}" HREF="#LINK${sectionCounter}" onClick=" return blocking($sectionCounter);">
			          <img ID="IMG$sectionCounter" src="$content.getURI("images/plus.gif")" border=0><font face="$ui.sansSerifFonts" size="2" style="line-height:18px;">
			          <b>Quality Control Images</b></font></a>
  					  <div ID="span$!sectionCounter" style="position:relative;display:none">
	  					
<div id="BTN_TABLE" >  
					<input name="showBothBtn" id="showBothBtn"  type="button" style="width:100" value="Show Overlay"  onClick="prepareToToggle();"/>
					<input name="toggleBtn" id="toggleBtn" type="button" style="width:80" value="PET/MPRAGE" disabled="disabled" onClick="toggleImages();"/>
					<select id="layoutSelector" name="layoutSelector" onchange="enableBtns();">
						<option>Both</option>
						<option selected>Saggital</option>
						<option>Transverse</option>
					</select>
					<input name="zoomPlusBtn" id="zoomPlusBtn" type="button" value="+" onClick="zoomUp();" />
					<input name="zoomMinusBtn" id="zoomMinusBtn" type="button" value="-" onClick="zoomDown();" />

</div>
  					<div id="T_MPRAGE" style="display:none">       
	  				<table >
					#foreach ($i in [0..3])
					<tr><td>
	      <IMG src="$content.getURI("/app/template/IMGFile.vm?project=$om.getProject()&file_name=${om.getRelativeArchivePath()}QC/${om.getLabel()}_QC_m${i}_t.jpg")" border=0>     
					</td></tr>

					#end
					</table>
					</div>

  					<div id="T_PET" style="display:none">       
	  				<table >
					#foreach ($i in [0..3])
					<tr><td>
	      <IMG src="$content.getURI("/app/template/IMGFile.vm?project=$om.getProject()&file_name=${om.getRelativeArchivePath()}QC/${om.getLabel()}_QC_p${i}_t.jpg")" border=0>     
					</td></tr>
					#end
					</table>
					</div>

  					<div id="S_PET" style="display:display">       
	  				<table >
					<tr><td>
	      <IMG id="S_PET_IMG" src="$content.getURI("/app/template/IMGFile.vm?project=$om.getProject()&file_name=${om.getRelativeArchivePath()}QC/${om.getLabel()}_QC_ps0_t.jpg")" border=0>     
					</td></tr>
					</table>
					</div>

  					<div id="S_MPRAGE" style="display:display">
	  				<table >

	<tr><td>
	      <IMG id="S_MPRAGE_IMG" src="$content.getURI("/app/template/IMGFile.vm?project=$om.getProject()&file_name=${om.getRelativeArchivePath()}QC/${om.getLabel()}_QC_ms0_t.jpg")" border=0>     
					</td></tr>
					</table>
					</div>
	  					  </div>
					   </td>
  				</tr>
	<tr>
  					 <td  colspan=2>
	  					  <BR>
					   </td>
  				</tr>				
  				#set ($sectionCounter = $sectionCounter + 1)
  				<tr>
  					 <td  colspan=2><A name="LINK${sectionCounter}" HREF="#LINK${sectionCounter}" onClick=" return blocking($sectionCounter);">
			          <img ID="IMG$sectionCounter" src="$content.getURI("images/minus.jpg")" border=0><font face="$ui.sansSerifFonts" size="2" style="line-height:18px;">
			          <b>Quality Control</b></font></a><br>
	  					  <span ID="span$!sectionCounter" style="position:relative; display:block;">
	  					  <table>
															        <tr>
				      
	  				      
  					       <td  colspan=2 border=0 align=left NOWRAP>
  					         <table>
  					            <tr>
  					              <td colspan=3 align=left> <b> Frames: </b> $!frames </td> 
  					            </tr>
						      	       <TR valign=top border=0>
	               <TD>
	  					  	             <br/>					
	  					  	           </td>
						  	           </tr>
						  					            <tr>
  					              <td colspan=3 align=left> <b> Errors: </b> </td> 
  					            </tr>
						  	           <tr>
						  	             <td align="center"> File </td> <td> Translation Error </td> <td> Rotation Error </td>
						  	           </tr>
  					            #foreach ($te in $translation.keys())
  					            #set ($teVal = $translation.get($te))
  					            #set ($rotVal = $rotation.get($te))
  					            #set ($error = $aboveThreshold.get($te))
  					            <tr>
  					                <td> $!te </td> <td> #if ($error.booleanValue()) <font color="red"> <b>$!teVal</b> </font>#else $!teVal #end </td> <td>  $!rotVal  </td>
  					            </tr>
  					            #end
  					         </table>
					         </td>
       				</tr>
    </table>
	  					  </span>
					   </td>
  				</tr>
	  				<!-- end section -->
  					       #end
  					       
#if($om.getAssessors_assessor().size()>0)
   				<!-- begin section -->
  				#set ($sectionCounter = $sectionCounter + 2)
  				<tr>
  					 <td  colspan=2>
	  					  <BR>
					   </td>
  				</tr>				
  				<tr>
  					 <td  colspan=2><A name="LINK${sectionCounter}" HREF="#LINK${sectionCounter}" onClick=" return blocking($sectionCounter);">
			          <img ID="IMG$sectionCounter" src="$content.getURI("images/plus.gif")" border=0><font face="$ui.sansSerifFonts" size="2" style="line-height:18px;">
			          <b> Time Course</b></font></a><br>
	  					  <span ID="span$!sectionCounter" style="position:relative; display:none;">
	         <IMG src="$content.getURI("/app/template/IMGFile.vm?project=$om.getProject()&file_name=$timecourse.getPlot().getUri()")" border=0> 
		  					  </span>
					   </td>
  				</tr>
  				<!-- end section -->
  				<!-- begin section -->
  				#set ($sectionCounter = $sectionCounter + 3)
  				<tr>
  					 <td  colspan=2>
	  					  <BR>
					   </td>
  				</tr>				
  				<tr>
  					 <td  colspan=2><A name="LINK${sectionCounter}" HREF="#LINK${sectionCounter}" onClick=" return blocking($sectionCounter);">
			          <img ID="IMG$sectionCounter" src="$content.getURI("images/plus.gif")" border=0><font face="$ui.sansSerifFonts" size="2" style="line-height:18px;">
			          <b> Logan Graphs</b></font></a><br>
	  					  <span ID="span$!sectionCounter" style="position:relative; display:none;">
	  					     #set ($loganPlotNewRow = 1)
	  					     #set ($loganPlotNewCol = 0)
	  					     <table>
	       #foreach($loganPlot in $timecourse.getLoganPlots())
             #if ($loganPlotNewRow == 1) <tr> #end
				               <td> <IMG src="$content.getURI("/app/template/IMGFile.vm?project=$om.getProject()&file_name=$loganPlot.getUri()")" border=0> </td>
		             #if ($loganPlotNewCol < 1) 
               #set ($loganPlotNewCol = $loganPlotNewCol + 1)
		               #set ($loganPlotNewRow = 0)
		             #else 
				               #set ($loganPlotNewCol = 0)
		               #set ($loganPlotNewRow = 1)
		             #end  
		             #if ($loganPlotNewRow == 1) </tr> #end
		       #end     
	      </table>
  					  </span>
					   </td>
  				</tr>
  				<!-- end section -->
  				<!-- begin section -->
  				#set ($sectionCounter = $sectionCounter + 4)
  				<tr>
  					 <td  colspan=2>
	  					  <BR>
					   </td>
  				</tr>				
  				<tr>
  					 <td  colspan=2><A name="LINK${sectionCounter}" HREF="#LINK${sectionCounter}" onClick=" return blocking($sectionCounter);">
			          <img ID="IMG$sectionCounter" src="$content.getURI("images/plus.gif")" border=0><font face="$ui.sansSerifFonts" size="2" style="line-height:18px;">
			          <b> Raw Time Course Data</b></font></a><br>
	  					  <span ID="span$!sectionCounter" style="position:relative; display:none;">
	  					   <BR><table BORDER=1 STYLE="	border-collapse: collapse;">
	  					   	 <tr>
	  					   	  <td>
	  					   	   #if($timecourse)
	  					   	    <table>
	  					   	     <tr>
	  					   	      <td></td>
	  					   	     #foreach($region in $timecourse.getRegions_region())
	  					   	      <td><b>$!region.getName()</b> #if($!region.getHemisphere()!="both")$!region.getHemisphere()#end</td>
	  					   	     #end
	  					   	     </tr>
	  					   	     #foreach($row in $timecourse.getActivityByTime())
	  					   	     <tr> 
	  					   	      #foreach($entry in $row)
	  					   	      <td>$!entry</td>
	  					   	      #end
	  					   	     </tr>
	  					   	     #end
	  					   	    </table>
	  					   	   #else
	  					   	    Unavailable.
	  					   	   #end
	  					   	  </td>
	  					   	 </tr>
	  					   </table>
	  					  </span>
					   </td>
  				</tr>
  				<!-- end section -->
#end

  				#set ($sectionCounter = $sectionCounter + 5)
  <tr>
	<td align=left colspan=2 valign=top><BR/><BR/></td>
</tr>

  				<!-- end section -->
 			</table>
  		</td>
  	</tr>
 </TABLE>
 
 				<script type="text/javascript">
var image_session_id="$om.getId()";
</script>